spring:
  datasource:
    url: jdbc:h2:mem:defaultinitdb
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  
  h2:
    console:
      enabled: true

jwt:
  secret: defaultInitSecretKeyForJWTTokenGeneration123456789
  expiration: 86400000
